.cold{
    &-darkblue{background: #23374D; color: #E5E5E5;}
    &-blue{background: #1089FF; color: #EEEEEE;}
    &-lightgrey{background: #E5E5E5; color: #272121;}
    &-light{background: #EEEEEE; color: #272121;}
    &-dark{background: #212127; color: #EEEEEE;}
}