.fwhite{color: white !important;}
.fblack{color: black !important;}
.consola{font-family: monospace; color: white; background: #232323; padding: 15px; box-sizing: border-box; overflow-x: scroll;}

.ham-darker{background-color: #182027; color: #6387a7}
/*ham*/
.ham-red{background-color: #E74C3C !important; color: white !important;}
.ham-orange{background-color: #E67E22 !important; color: white !important;}
.ham-yellow{background-color: #F1C40F !important; color: white !important;}
.ham-green{background-color: #2ECC71 !important; color: white !important;}
.ham-teal{background-color: #1ABC9C !important; color: white !important;}
.ham-cyan{background-color: #00B5C8 !important; color: white !important;}
.ham-blue{background-color: #3498DB !important; color: white !important;}
.ham-purple{background-color: #6200A5 !important; color: white !important;}

/*dark-ham*/
.ham-darkred{background-color: #C0392B !important; color: white !important}
.ham-darkorange{background-color: #D35400 !important; color: white !important}
.ham-darkyellow{background-color: #F39C12 !important; color: white !important}
.ham-darkgreen{background-color: #27AE60 !important; color: white !important}
.ham-darkteal{background-color: #138f76 !important; color: white !important}
.ham-darkcyan{background-color: #008396 !important; color: white !important}
.ham-darkblue{background-color: #2980B9 !important; color: white !important}
.ham-darkpurple{background-color: #41006E !important; color: white !important}


/* MIND INNOVATION*/
.elegant-dark{background:#222831 !important; border-color: #222831; color:white;}
.elegant-gray{background-color: #393E46 !important; border-color: #393E46; color: white;}
.elegant-darkerblue{background-color: #2980b9 !important; color: white;}
.elegant-darkblue{background-color: #0092CA !important; border-color: #0092CA; color: white;}
.elegant-blue{background-color: #009fe2 !important; color: white;}
.elegant-lightblue{background-color: #00b4ff !important; border-color: rgb(0,180,255); color: white;}
.elegant-light{background-color: #DEDEDE !important; color: #7d7d7d}
.elegant-white{background: #efefef !important; color: #8b8b8b;}

/*it's Electric*/
.electric-white{background-color: #e7f9ff; color:#7fa3af}
.electric-lighter{background-color: #1e94b9; color: #bae4f6}
.electric-light{background-color: #187795; color: #adcfde }
.electric{background-color: #1a5068; color: #7ebbd6;}
.electric-dark{background-color: #0d4053;color: #3392b5}
.electric-darker{background-color: #022b3a;color: #43869e}
.electric-black{background-color: #182027; color: #496780}

.cyan1{background-color: #64ecfd}
.cyan2{background-color: #12b6cf; color: #447c85}
.cyan3{background-color: #0c95a9; color: #64d1e0}
.cyan4{background-color: #0a6776; color: #1ba2b8}
.cyan5{background-color: #063a44; color: #08798f}

.teal1{background-color: #088c7f; color: #00d6c0}
.teal2{background-color: #337a73; color:#4dc9be;}
.teal3{background-color: #2c5e59; color:#3c8f84}
.teal4{background-color: #1a3a36; color:#4dc9be;}
.teal5{background-color: #0c2825; color:#3c8f84}

.platino1{background-color: #e2e7ec; color:#7e7e7e}
.platino2{background-color: #d2dae2;color: #6f7070}
.platino3{background-color: #818e9b;color: #bacdde}
.platino4{background-color: #48545f;color: #828e99}
.platino5{background-color: #182027;color: #50606f}

.electricBorder{
  border: solid 2px #3392b5;
  border-radius: 5px;
}
