.rust{
    &-darker{background: #222831; color: #EEEEEE;}
    &-dark{background: #393e46; color: #EEEEEE;}
    &-darkorange{background: #d65a31; color: #EEEEEE;}
    &-orange{background: #FC6600; color: #EEEEEE;}
    &-light{background: #EEEEEE; color: #393e46;}
}