.ham-btn{
    z-index: 3;
    height: 32px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .15s ease-in-out;

    &.danger{
        @extend .material-normal;
    }
    &.electric{
        @extend .electric-dark;
    }
    &:hover{
        color: #fff;
    background-color: #1a82ae;
    border-color: #187aa3;
    }
}
input[type="radio"]{
    position: absolute;
    opacity: 0;
}