<div class="ham-container col sc pdg40">
    <div class="ham-title">Bienvenido al taller de Node</div>
    <div class="container">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem ducimus consequatur, perferendis laboriosam molestias consectetur ipsam maxime fuga labore laborum aspernatur repellat autem, eveniet obcaecati. Rerum autem quis nisi neque natus sit, dignissimos blanditiis, fugit, mollitia nobis magnam cum sequi! Totam ipsam nesciunt laboriosam nihil eligendi quidem voluptatem modi iure.</div>
</div>
    {{!-- <ham-btn-container class="row sa mt40">
        <ham-btn id="set_material" class="danger">material</ham-btn>
        <ham-btn id="set_electric" class="electric">electric</ham-btn>
    </ham-btn-container>
</div>
<script>
    document.getElementById('set_material').addEventListener('click', function(){
        document.querySelector('body').classList = ['material']
        document.querySelector("meta[name='theme-color']").setAttribute('content', '#1D2528')
    })
    
    document.getElementById('set_electric').addEventListener('click', function(){
        document.querySelector('body').classList = ['electric']
        
        document.querySelector("meta[name='theme-color']").setAttribute('content', '#0d4053')
    })
</script> --}}