* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@media (max-height: 400px) {
  html, body {
    height: 120vh;
    overflow-y: auto;
  }
}

.main {
  width: 100%;
  height: calc(100% - 65px);
  padding: 25px;
  overflow-y: auto;
}

ham-container, .ham-container {
  width: 100%;
  max-width: 720px;
}

ham-container ham-title, .ham-container ham-title {
  font-size: 20px;
  margin-bottom: 20px;
}

ham-container ham-text, .ham-container ham-text {
  overflow-y: auto;
}

ham-btn-container {
  width: 100%;
  text-shadow: 1px 1px #0a0a0a30;
}

.scrollAzul, ham-container, .ham-container, ham-container ham-text, .ham-container ham-text {
  scrollbar-color: #3392b5 transparent;
  scrollbar-width: thin;
}

.scrollAzul::-webkit-scrollbar, ham-container::-webkit-scrollbar, .ham-container::-webkit-scrollbar, ham-container ham-text::-webkit-scrollbar, .ham-container ham-text::-webkit-scrollbar {
  width: 8px;
}

.scrollAzul::-webkit-scrollbar-thumb, ham-container::-webkit-scrollbar-thumb, .ham-container::-webkit-scrollbar-thumb, ham-container ham-text::-webkit-scrollbar-thumb, .ham-container ham-text::-webkit-scrollbar-thumb {
  background-color: #3392b5;
}

.ham-btn {
  z-index: 3;
  height: 32px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.ham-btn:hover {
  color: #fff;
  background-color: #1a82ae;
  border-color: #187aa3;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.ham-title {
  padding: .45em;
  font-size: 35px;
  margin-bottom: 8px;
  border-radius: 5px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.ham-subtitle {
  padding: .35em 1.9em;
  font-size: 18px;
  margin: 4px 0;
  margin-left: 1.9em;
  border-radius: 5px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  font-weight: 100;
}

@media (max-width: 500px) {
  .ham-title {
    padding-right: 0;
  }
  .ham-subtitle {
    max-width: 500px;
  }
}

.tas {
  text-align: start;
}

.tac {
  text-align: center;
}

.tae {
  text-align: end;
}

ham-header, header, .header {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  max-height: 65px !important;
  -ms-grid-columns: 200px 1fr;
      grid-template-columns: 200px 1fr;
}

ham-header ham-logo, ham-header .logo, ham-header .brand, header ham-logo, header .logo, header .brand, .header ham-logo, .header .logo, .header .brand {
  -webkit-transition: .12s ease-in-out;
  transition: .12s ease-in-out;
  font-size: 25px;
  cursor: pointer;
}

ham-header ham-nav, ham-header .nav, header ham-nav, header .nav, .header ham-nav, .header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

ham-header ham-nav ham-item, ham-header ham-nav .item, ham-header .nav ham-item, ham-header .nav .item, header ham-nav ham-item, header ham-nav .item, header .nav ham-item, header .nav .item, .header ham-nav ham-item, .header ham-nav .item, .header .nav ham-item, .header .nav .item {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  padding: 0 1em;
  -webkit-transition: .12s ease-in-out;
  transition: .12s ease-in-out;
}

ham-header ham-nav ham-item:hover, ham-header ham-nav .item:hover, ham-header .nav ham-item:hover, ham-header .nav .item:hover, header ham-nav ham-item:hover, header ham-nav .item:hover, header .nav ham-item:hover, header .nav .item:hover, .header ham-nav ham-item:hover, .header ham-nav .item:hover, .header .nav ham-item:hover, .header .nav .item:hover {
  background: #FFFFFF30;
}

@media (max-width: 720px) {
  ham-header, header, .header {
    position: relative;
  }
  ham-nav ham-item, ham-nav .item, .nav ham-item, .nav .item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.full, ham-header, header, .header, ham-header ham-logo, ham-header .logo, ham-header .brand, header ham-logo, header .logo, header .brand, .header ham-logo, .header .logo, .header .brand, ham-header ham-nav, ham-header .nav, header ham-nav, header .nav, .header ham-nav, .header .nav {
  width: 100%;
  height: 100%;
}

.fullW {
  width: 100%;
}

.fullH {
  height: 100%;
}

/* Implementacion de flexbox por Jorge Rea (Edham)
 -	Flexbox es una implementacion que tiene css que nos permite ordenar los elementos
	de una manera mas sencilla.
 -  La manera de que funcione es asignandole la propiedad flex al contenedor padre 
 	y un flujo direccion(renglon o columna)
*/
/* Desliega los elementos en columna*/
.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* X: variable; Y: en el inicio;*/
  /* X: variable; Y: en el centro;*/
  /* X: variable; Y: en el fin;*/
}

.col.ss {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.col.sc {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col.se {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.col.cs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.col.cc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col.ce {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.col.es {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.col.ec {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col.ee {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/* Despliega los elementos en renglon*/
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* X: estatica; Y: variable;*/
  /* ajusta los elementos respecto al espacio que tienen alrededor*/
  /* Ajusta los elementos al centro */
  /* ajusta los elementos respecto al espacio que hay entre ellos*/
}

.row.up {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row.middle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row.down {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.row.sa {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.row.cc {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row.sb {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* la propiedad wrap nos permite que un contenedor se desplace hacia abajo 
   si es que este se queda sin espacio*/
.wp {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nwp {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

/*Hace que los elementos dentro de la etiqueta tengan la misma proporcion*/
.fg {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* parte la palabra si el contenedor donde esta se queda sin espacio*/
.wordbk {
  word-break: break-all;
}

@media (max-width: 720px) {
  .fixFlow {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .fixFlowC {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.grid, ham-header, header, .header, ham-header ham-logo, ham-header .logo, ham-header .brand, header ham-logo, header .logo, header .brand, .header ham-logo, .header .logo, .header .brand, ham-header ham-nav ham-item, ham-header ham-nav .item, ham-header .nav ham-item, ham-header .nav .item, header ham-nav ham-item, header ham-nav .item, header .nav ham-item, header .nav .item, .header ham-nav ham-item, .header ham-nav .item, .header .nav ham-item, .header .nav .item {
  display: -ms-grid;
  display: grid;
}

.grid-cc, ham-header, header, .header, ham-header ham-logo, ham-header .logo, ham-header .brand, header ham-logo, header .logo, header .brand, .header ham-logo, .header .logo, .header .brand, ham-header ham-nav ham-item, ham-header ham-nav .item, ham-header .nav ham-item, ham-header .nav .item, header ham-nav ham-item, header ham-nav .item, header .nav ham-item, header .nav .item, .header ham-nav ham-item, .header ham-nav .item, .header .nav ham-item, .header .nav .item {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.grid .g20, ham-header .g20, header .g20, .header .g20, ham-header ham-logo .g20, ham-header .logo .g20, ham-header .brand .g20, header ham-logo .g20, header .logo .g20, header .brand .g20, ham-header ham-nav ham-item .g20, ham-header ham-nav .item .g20, ham-header .nav ham-item .g20, ham-header .nav .item .g20, header ham-nav ham-item .g20, header ham-nav .item .g20, header .nav ham-item .g20, header .nav .item .g20, .header ham-nav .item .g20, .header .nav ham-item .g20, .header .nav .item .g20 {
  gap: 20px;
}

/*it's Electric*/
.electric-white {
  background: #e7f9ff;
  color: #7fa3af;
}

.electric-lighter, .electric ham-header ham-logo:hover:active, .electric ham-header ham-item:hover:active {
  background: #1e94b9;
  color: #bae4f6;
}

.electric-light, .electric ham-header ham-logo:hover, .electric ham-header ham-item:hover {
  background: #187795;
  color: #adcfde;
}

.electric-normal, .electric ham-header, .electric ham-header ham-logo, .electric ham-header ham-item {
  background: #1a5068;
  color: #d4dfe4;
}

.electric-dark, .ham-btn.electric {
  background: #0d4053;
  color: #3392b5;
}

.electric-darker, .electric .main {
  background: #022b3a;
  color: #43869e;
}

.electric-black {
  background: #182027;
  color: #496780;
}

.frost {
  background: inherit;
  position: relative;
  overflow: hidden;
  z-index: 10;
  color: #525252;
}

.frost::before {
  content: "";
  background: inherit;
  position: absolute;
  width: 150%;
  height: 150%;
  left: -25px;
  right: 0;
  top: -25px;
  bottom: 0;
  -webkit-box-shadow: inset 0 0 0 3000px #ffffff88;
          box-shadow: inset 0 0 0 3000px #ffffff88;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  z-index: -1;
}

.darkfrost {
  background: inherit;
  position: relative;
  overflow: hidden;
  z-index: 10;
  color: #ffffff;
}

.darkfrost::before {
  content: "";
  background: inherit;
  position: absolute;
  width: 150%;
  min-height: 150%;
  left: -25%;
  right: 0;
  top: -25%;
  bottom: 0;
  -webkit-box-shadow: inset 0 0 0 800px #00000067;
          box-shadow: inset 0 0 0 800px #00000067;
  -webkit-filter: blur(14px);
          filter: blur(14px);
  z-index: -1;
}

/*it's Electric*/
.material-white {
  background: #f1f1f1;
  color: #0a0a0a;
}

.material-lighter, .material ham-header ham-logo:hover:active, .material ham-header ham-item:hover:active {
  background: #6B7678;
  color: #ffffff;
}

.material-light, .material ham-header ham-logo:hover, .material ham-header ham-item:hover {
  background: #3A4449;
  color: #f7f7f7;
}

.material-normal, .ham-btn.danger, .material ham-header, .material ham-header ham-logo, .material ham-header ham-item {
  background: #273136;
  color: #f4f4f5;
}

.material-dark {
  background: #1D2528;
  color: #6B7678;
}

.material-darker, .material .main {
  background: #161B1E;
  color: #6B7678;
}

.material-black {
  background: #081018;
  color: #FFFFFF;
}

.fwhite {
  color: white !important;
}

.fblack {
  color: black !important;
}

.consola {
  font-family: monospace;
  color: white;
  background: #232323;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: scroll;
}

.ham-darker {
  background-color: #182027;
  color: #6387a7;
}

/*ham*/
.ham-red {
  background-color: #E74C3C !important;
  color: white !important;
}

.ham-orange {
  background-color: #E67E22 !important;
  color: white !important;
}

.ham-yellow {
  background-color: #F1C40F !important;
  color: white !important;
}

.ham-green {
  background-color: #2ECC71 !important;
  color: white !important;
}

.ham-teal {
  background-color: #1ABC9C !important;
  color: white !important;
}

.ham-cyan {
  background-color: #00B5C8 !important;
  color: white !important;
}

.ham-blue {
  background-color: #3498DB !important;
  color: white !important;
}

.ham-purple {
  background-color: #6200A5 !important;
  color: white !important;
}

/*dark-ham*/
.ham-darkred {
  background-color: #C0392B !important;
  color: white !important;
}

.ham-darkorange {
  background-color: #D35400 !important;
  color: white !important;
}

.ham-darkyellow {
  background-color: #F39C12 !important;
  color: white !important;
}

.ham-darkgreen {
  background-color: #27AE60 !important;
  color: white !important;
}

.ham-darkteal {
  background-color: #138f76 !important;
  color: white !important;
}

.ham-darkcyan {
  background-color: #008396 !important;
  color: white !important;
}

.ham-darkblue {
  background-color: #2980B9 !important;
  color: white !important;
}

.ham-darkpurple {
  background-color: #41006E !important;
  color: white !important;
}

/* MIND INNOVATION*/
.elegant-dark {
  background: #222831 !important;
  border-color: #222831;
  color: white;
}

.elegant-gray {
  background-color: #393E46 !important;
  border-color: #393E46;
  color: white;
}

.elegant-darkerblue {
  background-color: #2980b9 !important;
  color: white;
}

.elegant-darkblue {
  background-color: #0092CA !important;
  border-color: #0092CA;
  color: white;
}

.elegant-blue {
  background-color: #009fe2 !important;
  color: white;
}

.elegant-lightblue {
  background-color: #00b4ff !important;
  border-color: #00b4ff;
  color: white;
}

.elegant-light {
  background-color: #DEDEDE !important;
  color: #7d7d7d;
}

.elegant-white {
  background: #efefef !important;
  color: #8b8b8b;
}

/*it's Electric*/
.electric-white {
  background-color: #e7f9ff;
  color: #7fa3af;
}

.electric-lighter, .electric ham-header ham-logo:hover:active, .electric ham-header ham-item:hover:active {
  background-color: #1e94b9;
  color: #bae4f6;
}

.electric-light, .electric ham-header ham-logo:hover, .electric ham-header ham-item:hover {
  background-color: #187795;
  color: #adcfde;
}

.electric {
  background-color: #1a5068;
  color: #7ebbd6;
}

.electric-dark, .ham-btn.electric {
  background-color: #0d4053;
  color: #3392b5;
}

.electric-darker, .electric .main {
  background-color: #022b3a;
  color: #43869e;
}

.electric-black {
  background-color: #182027;
  color: #496780;
}

.cyan1 {
  background-color: #64ecfd;
}

.cyan2 {
  background-color: #12b6cf;
  color: #447c85;
}

.cyan3 {
  background-color: #0c95a9;
  color: #64d1e0;
}

.cyan4 {
  background-color: #0a6776;
  color: #1ba2b8;
}

.cyan5 {
  background-color: #063a44;
  color: #08798f;
}

.teal1 {
  background-color: #088c7f;
  color: #00d6c0;
}

.teal2 {
  background-color: #337a73;
  color: #4dc9be;
}

.teal3 {
  background-color: #2c5e59;
  color: #3c8f84;
}

.teal4 {
  background-color: #1a3a36;
  color: #4dc9be;
}

.teal5 {
  background-color: #0c2825;
  color: #3c8f84;
}

.platino1 {
  background-color: #e2e7ec;
  color: #7e7e7e;
}

.platino2 {
  background-color: #d2dae2;
  color: #6f7070;
}

.platino3 {
  background-color: #818e9b;
  color: #bacdde;
}

.platino4 {
  background-color: #48545f;
  color: #828e99;
}

.platino5 {
  background-color: #182027;
  color: #50606f;
}

.electricBorder {
  border: solid 2px #3392b5;
  border-radius: 5px;
}

.rust-darker {
  background: #222831;
  color: #EEEEEE;
}

.rust-dark {
  background: #393e46;
  color: #EEEEEE;
}

.rust-darkorange {
  background: #d65a31;
  color: #EEEEEE;
}

.rust-orange {
  background: #FC6600;
  color: #EEEEEE;
}

.rust-light {
  background: #EEEEEE;
  color: #393e46;
}

.cold-darkblue {
  background: #23374D;
  color: #E5E5E5;
}

.cold-blue {
  background: #1089FF;
  color: #EEEEEE;
}

.cold-lightgrey {
  background: #E5E5E5;
  color: #272121;
}

.cold-light {
  background: #EEEEEE;
  color: #272121;
}

.cold-dark {
  background: #212127;
  color: #EEEEEE;
}

.fs12 {
  font-size: 12px;
}

.fs13 {
  font-size: 13px;
}

.fs14 {
  font-size: 14px;
}

.fs15 {
  font-size: 15px;
}

.fs16 {
  font-size: 16px;
}

.fs17 {
  font-size: 17px;
}

.fs18 {
  font-size: 18px;
}

.fs19 {
  font-size: 19px;
}

.fs20 {
  font-size: 20px;
}

.fs21 {
  font-size: 21px;
}

.fs22 {
  font-size: 22px;
}

.fs23 {
  font-size: 23px;
}

.fs24 {
  font-size: 24px;
}

.fs25 {
  font-size: 25px;
}

.fs26 {
  font-size: 26px;
}

.fs27 {
  font-size: 27px;
}

.fs28 {
  font-size: 28px;
}

.fs29 {
  font-size: 29px;
}

.fs30 {
  font-size: 30px;
}

.fs31 {
  font-size: 31px;
}

.fs32 {
  font-size: 32px;
}

.fs33 {
  font-size: 33px;
}

.fs34 {
  font-size: 34px;
}

.tdn {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .25s;
  transition: .25s;
}

.tdn:hover {
  text-decoration: underline;
}

.brn {
  border-radius: 0;
}

.pdg0 {
  padding: 0;
}

.pdg10 {
  padding: 10px;
}

.pdg20 {
  padding: 20px;
}

.pdg30 {
  padding: 30px;
}

.pdg40 {
  padding: 40px;
}

.pdg50 {
  padding: 50px;
}

.pdg60 {
  padding: 60px;
}

.pdg70 {
  padding: 70px;
}

.pdg80 {
  padding: 80px;
}

.pdg90 {
  padding: 90px;
}

.pdgH10 {
  padding-left: 10px;
  padding-right: 10px;
}

.pdgH20 {
  padding-left: 20px;
  padding-right: 20px;
}

.pdgH30 {
  padding-left: 30px;
  padding-right: 30px;
}

.pdgH40 {
  padding-left: 40px;
  padding-right: 40px;
}

.pdgH50 {
  padding-left: 50px;
  padding-right: 50px;
}

.pdgH60 {
  padding-left: 60px;
  padding-right: 60px;
}

.pdgH70 {
  padding-left: 70px;
  padding-right: 70px;
}

.pdgH80 {
  padding-left: 80px;
  padding-right: 80px;
}

.pdgH90 {
  padding-left: 90px;
  padding-right: 90px;
}

.pdgV10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pdgV20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pdgV30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pdgV40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pdgV50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pdgV60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pdgV70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.pdgV80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pdgV90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.mrg0 {
  margin: 0;
}

.mrg10 {
  margin: 10px;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mrg20 {
  margin: 20px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml20 {
  margin-left: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mrg30 {
  margin: 30px;
}

.mt30 {
  margin-top: 30px;
}

.mb30 {
  margin-bottom: 30px;
}

.ml30 {
  margin-left: 30px;
}

.mr30 {
  margin-right: 30px;
}

.mrg40 {
  margin: 40px;
}

.mt40 {
  margin-top: 40px;
}

.mb40 {
  margin-bottom: 40px;
}

.ml40 {
  margin-left: 40px;
}

.mr40 {
  margin-right: 40px;
}

.mrg50 {
  margin: 50px;
}

.mt50 {
  margin-top: 50px;
}

.mb50 {
  margin-bottom: 50px;
}

.ml50 {
  margin-left: 50px;
}

.mr50 {
  margin-right: 50px;
}

.mrg60 {
  margin: 60px;
}

.mt60 {
  margin-top: 60px;
}

.mb60 {
  margin-bottom: 60px;
}

.ml60 {
  margin-left: 60px;
}

.mr60 {
  margin-right: 60px;
}

.mrg70 {
  margin: 70px;
}

.mt70 {
  margin-top: 70px;
}

.mb70 {
  margin-bottom: 70px;
}

.ml70 {
  margin-left: 70px;
}

.mr70 {
  margin-right: 70px;
}

.mrg80 {
  margin: 80px;
}

.mt80 {
  margin-top: 80px;
}

.mb80 {
  margin-bottom: 80px;
}

.ml80 {
  margin-left: 80px;
}

.mr80 {
  margin-right: 80px;
}

.mrg90 {
  margin: 90px;
}

.mt90 {
  margin-top: 90px;
}

.mb90 {
  margin-bottom: 90px;
}

.ml90 {
  margin-left: 90px;
}

.mr90 {
  margin-right: 90px;
}

.mrgH10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mrgH20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mrgH30 {
  margin-left: 30px;
  margin-right: 30px;
}

.mrgH40 {
  margin-left: 40px;
  margin-right: 40px;
}

.mrgH50 {
  margin-left: 50px;
  margin-right: 50px;
}

.mrgH60 {
  margin-left: 60px;
  margin-right: 60px;
}

.mrgH70 {
  margin-left: 70px;
  margin-right: 70px;
}

.mrgH80 {
  margin-left: 80px;
  margin-right: 80px;
}

.mrgH90 {
  margin-left: 90px;
  margin-right: 90px;
}

.mrgV10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mrgV20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mrgV30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mrgV40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mrgV50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mrgV60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mrgV70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.mrgV80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.mrgV90 {
  margin-top: 90px;
  margin-bottom: 90px;
}

.maxW50 {
  max-width: 50px;
}

.maxW100 {
  max-width: 100px;
}

.maxW150 {
  max-width: 150px;
}

.maxW200 {
  max-width: 200px;
}

.maxW250 {
  max-width: 250px;
}

.maxW300 {
  max-width: 300px;
}

.maxW350 {
  max-width: 350px;
}

.maxW400 {
  max-width: 400px;
}

.maxW450 {
  max-width: 450px;
}

.maxW500 {
  max-width: 500px;
}

.maxW550 {
  max-width: 550px;
}

.maxW600 {
  max-width: 600px;
}

.maxW650 {
  max-width: 650px;
}

.maxW700 {
  max-width: 700px;
}

.maxW750 {
  max-width: 750px;
}

.maxW800 {
  max-width: 800px;
}

.maxW850 {
  max-width: 850px;
}

.maxW900 {
  max-width: 900px;
}

.maxW950 {
  max-width: 950px;
}

.maxW1000 {
  max-width: 1000px;
}
/*# sourceMappingURL=style.css.map */