<!DOCTYPE html>
<html class="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#273136">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Taller de Node</title>
</head>
<body class="material">
    {{> header}}
    <div class="main col sc">
        {{{body}}}
    </div>
</body>
</html>